body {
		margin: 0px; 
		padding: 0px; 
		background: rgba(240,210,130,1);
		background: -moz-linear-gradient(left, rgba(240,210,130,1) 0%, rgba(245,226,179,1) 50%, rgba(240,210,130,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,210,130,1)), color-stop(50%, rgba(245,226,179,1)), color-stop(100%, rgba(240,210,130,1)));
		background: -webkit-linear-gradient(left, rgba(240,210,130,1) 0%, rgba(245,226,179,1) 50%, rgba(240,210,130,1) 100%);
		background: -o-linear-gradient(left, rgba(240,210,130,1) 0%, rgba(245,226,179,1) 50%, rgba(240,210,130,1) 100%);
		background: -ms-linear-gradient(left, rgba(240,210,130,1) 0%, rgba(245,226,179,1) 50%, rgba(240,210,130,1) 100%);
		background: linear-gradient(to right, rgba(240,210,130,1) 0%, rgba(245,226,179,1) 50%, rgba(240,210,130,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0d282', endColorstr='#f0d282', GradientType=1 );
	}
h1, h2 {
		font-variant: small-caps;
		margin-left: 0 auto; 
		margin-right: 0 auto; 
		padding-left: 0 auto; 
		padding-right: 0 auto; 
	}
h3 	   {
		margin-left: 0 auto; 
		margin-right: 0 auto; 
		padding-left: 0 auto; 
		padding-right: 0 auto; 
	}
a:link {
		color: #D8A800; 
		text-decoration: none;
	}
a:visited {
		color: #D8A800; 
		text-decoration: none;
	}
a:hover {
		color: #D8A800; 
		text-decoration: underline;
	}
a:active {
		color: #D8A800; 
		text-decoration: underline;
	}
p {
		margin-left: 0 auto; 
		margin-right: 0 auto; 
		padding-left: 0 auto; 
		padding-right: 0 auto; 
		text-indent: .5in; 
	}
fieldset {
		-webkit-border-radius: 15px; 
		-moz-border-radius: 15px; 
		border-radius: 15px;
	}
input {
		-webkit-border-radius: 15px; 
		-moz-border-radius: 15px; 
		border-radius: 15px; 
		padding: 4px; 
		margin: 4px;
	}
textarea {
		-webkit-border-radius: 15px; 
		-moz-border-radius: 15px; 
		border-radius: 15px; 
		padding: 4px; 
		margin: 4px; 
		font-family: "Lucida Sans", sans-serif;
	}
form {
		background-image: url(parchment.png); 
		-webkit-border-radius: 15px; 
		-moz-border-radius: 15px; 
		border-radius: 15px; 
		padding: 4px; 
		border: #103466 thick solid; 
		-webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.66); 
		-moz-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.66); 
		box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.66);
	}
label {
		width: 4em; 
		text-align: right; 
		margin-right: 0.5em;
	}
label:hover {
		color: #404040;
	}
.caption {
		font-weight: bold; 
		font-family: "Lucida Sans", sans-serif; 
		text-align: center; 
		font-size: .8em; 
		color: #808080;
	}
.bordered {
		display: block; 
		margin: 0 auto; 
		padding: 0 auto; 
		margin-bottom: 5px; 
		border: #FFCC00 thick solid; 
		-webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.66); 
		-moz-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.66); 
		box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.66);
	}
.bordered2 {
		display: block; 
		border: #FFCC00 thick solid; 
		-webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.66); 
		-moz-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.66); 
		box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.66);
	}
.isolated {
		text-indent: 0in; 
	}
.button {
		background-color: #F5E1B1; 
		font-variant: small-caps; 
		border-width: 3px; 
		border-color: #C1AB7D; 
		border-style: outset; 
		font-weight: bold;
	}
input.button:hover {
		background-color: #F0D282; 
		border-color: #D5B673;
	} 
.answer {
		background-color: #FFFFFF; 
		text-align: center; 
		-webkit-border-radius: 15px; 
		-moz-border-radius: 15px; 
		border-radius: 15px; 
		padding: 4px; 
		margin: 4px; 
		color: #000000; 
		font-weight: bold; 
		font-variant: small-caps;
	}
.fineprint {
		color: #808080; 
		font-size: .85em;
	}
.diceimage {  
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
  }
.container {
		display: grid;
		grid-template-rows: repeat(2, 400px);
		grid-template-columns: repeat(2, 400px);
	}
.item1 {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;
	}
.item2 {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 2;
		grid-column-end: 3;
	}
.item3 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}
.item4 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;
	}
.item5 {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-start: 2;
	}
.item6 {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 2;
		grid-column-end: 3;
	}
.die {
		color: #000000;
		text-align: center;
		font-family: "Lucida Sans", sans-serif;
    	width: 120px;
    	height: 120px;
    	background: #ffffff;
		-webkit-border-radius: 15px; 
		-moz-border-radius: 15px; 
		border-radius: 15px; 
		padding: 4px; 
		margin: 4px; 
		-webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.66); 
		-moz-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.66); 
		box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.66);
	}
#dicecontainer {
		margin: 0 auto; 
		padding 0 auto; 
		width: 272px;
	}
#header {
		background-color: #103466; 
		color: #FFCC00; 
		font-family: "Lucida Sans", sans-serif; 
		text-align: center; 
		padding-bottom: 10px; 
		margin-bottom: 10px; 
		width: 100%; 
		height: 70px; 
		-webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.66); 
		-moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.66); 
		box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.66); 
		position: fixed; 
		top: 0;
	}
div#header a {
		padding-left: 10px; 
		padding-right: 10px; 
		margin-left: 10px; 
		margin-right: 10px;
	}
#footer {
		background-color: #103466; 
		color: #FFCC00; 
		font-family: "Perpetua", serif; 
		text-align: center; 
		font-size: .7em; 
		position: fixed; 
		bottom: 0; 
		width: 100%; 
		-webkit-box-shadow: 0px -5px 10px 1px rgba(0,0,0,0.66); 
		-moz-box-shadow: 0px -5px 10px 1px rgba(0,0,0,0.66); 
		box-shadow: 0px -5px 10px 1px rgba(0,0,0,0.66); 
		height: 40px;
	}
#wrapper {
		font-family: "Lucida Sans", sans-serif; 
		margin: 0 auto; 
		padding: 0 auto; 
		width: 600px;
	}
#bottomspace {
		height: 40px; 
		margin: 10px; 
		padding: 10px;
	}
#topspace {
		height: 70px; 
		margin: 10px; 
		padding: 10px;
	}