@import url('https://fonts.googleapis.com/css?family=Gaegu:700');

* {
	margin: 0px;
    padding: 0px;
}

html {
	width: 100%;
	min-height: 100%;
}

body {
	width: 100%;
	height: 100%;
	color: #ffffff;
	font-family: "Gaegu", "Comic Sans", sans-serif;
	background: #000000 url("bg.jpeg") center/100% 100% no-repeat;
}

#legend {
	position: absolute;
	display: inline-block;
	bottom: 0;
    left: 50%;
    transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	padding: 1rem;
	border: .5rem solid #fff;
	font-size: 18pt;
	text-align: center;
	text-shadow: .175rem .175rem #000000;
	box-shadow: .175rem .175rem #000000;
}